@keyframes scan-fade-in {
    0% {
        opacity: 0;
        filter: blur(4px);
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes scan-line {
    0% {
        top: 0%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}