@use 'base' as *;


.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    gap: 30px;
    margin: 0 auto;
     @media (max-width: 768px) {
        grid-template-columns: 1fr; 
        padding-bottom: 80px; 
    }
}


.nav-card {
    position: relative;
    background: rgba(0, 20, 10, 0.4);
    border: 1px solid rgba($color-green, 0.3);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    height: 300px;

    @media (max-width: 768px) {
        height: 260px !important; 
        
        padding: 20px; 
    }


    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        border-top: 2px solid $color-green;
        border-right: 2px solid $color-green;
        transition: 0.3s;
    }

    .card-number {
        font-family: $font-header;
        font-size: 40px;
        color: rgba($color-green, 0.1);
        position: absolute;
        top: 10px;
        right: 20px;
        font-weight: 800;
        transition: 0.3s;
    }


    h3 {
        font-family: $font-header;
        font-size: 24px;
        margin-bottom: 10px;
        color: #fff;
    }

    .sub-text {
        font-family: $font-main;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
    }


    .card-status {
        font-family: $font-ui;
        font-size: 12px;
        color: $color-green;
        margin-top: auto;
        letter-spacing: 2px;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            background: $color-green;
            border-radius: 50%;
            margin-right: 8px;
            box-shadow: 0 0 5px $color-green;
        }
    }


    &:hover {
        background: rgba($color-green, 0.15);
        border-color: $color-green;
        box-shadow: 0 0 30px rgba($color-green, 0.2);
        transform: translateY(-5px);
        cursor: pointer;


        .card-number {
            color: rgba($color-green, 0.4);
            transform: scale(1.1);
        }


        &::before {
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
    }
}


.back-link {
    font-family: $font-ui;
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    transition: 0.3s;

    &:hover {
        color: $color-green;
        opacity: 1;
        text-shadow: 0 0 10px $color-green;
    }
}